<body>
    <h1>Admin Dashboard</h1>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter Employee Name" [(ngModel)]="ename">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter Employee ID" [(ngModel)]="eid">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter Employee Department" [(ngModel)]="edept">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter Employee Email" [(ngModel)]="email">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter Employee Password" [(ngModel)]="epass">
    </div>
    <div class="form-group btns">
        <button (click)="add()" class="btn btn-primary">Add</button>
        <button (click)="update()"  class="btn btn-primary">Update</button>
    </div>
    <div class="container">
        <table class="table">
            <tr>
                <th>SNo</th>
                <th>Employee Name</th>
                <th>Employee Id</th>
                <th>Employee Department</th>
                <th>Employee Email</th>
                <th>Employee Password</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let item of data;let i=index"> 
                <td (click)="row(i)">{{i+1}}</td>
                <td (click)="row(i)">{{item.name}}</td>
                <td (click)="row(i)">{{item.id}}</td>
                <td (click)="row(i)">{{item.department}}</td>
                <td (click)="row(i)">{{item.email}}</td>
                <td (click)="row(i)">{{item.password}}</td>
                <td><button (click)="edit(i)" class="btn btn-success btn-sm">Edit</button>
                <button (click)="delete(i)" class="btn btn-danger btn-sm">Del</button></td>
            </tr>
        </table>
    </div>
</body>