body {
    background-image: linear-gradient(300deg, rgb(88, 181, 235), #fff);
}

h1 {
    text-align: center;
    padding-top: 25px;
}

.container {
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    padding: 25px;
}

table, tr, th, td {
    border: 2px solid black;
    text-align: center;
}